.card {
  background-color: var(--color-card);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  /* width: 33%; */
}
.title {
  color: var(--color-font);
}
.success {
  color: var(--color-green);
}
.failure {
  color: var(--color-orange);
}

@media (max-width: 786px) {
  .card {
    width: 100%;
  }
}
